<div class="flex h-full gap-8">
  <div class="w-1/4 bg-primary-950">
    <img src="assets/images/logo-wila.svg" alt="Logo Wila" class="mx-8 my-8 w-40">
    <mat-vertical-stepper #stepper [selectedIndex]="currentStep" [linear]="true" (selectionChange)="onStepChange($event)">
      <ng-template matStepperIcon="done">
        <mat-icon>check</mat-icon>
      </ng-template>
      <mat-step [completed]="isAuthStepCompleted" [editable]="isAuthStepCompleted">
        <ng-template matStepLabel>
          <div class="step-label">
            <div class="title">Creación de cuenta</div>
            <div class="subtitle">Datos básicos que permitirán crear el acceso y guardar la configuración.</div>
          </div>
        </ng-template>
      </mat-step>
      
      <mat-step [completed]="isPlantaStepCompleted" [editable]="isPlantaStepCompleted">
        <ng-template matStepLabel>
          <div class="step-label">
            <div class="title">Definición de la planta</div>
            <div class="subtitle">Se define la cantidad de motores que componen la planta.</div>
          </div>
        </ng-template>
      </mat-step>
      
      <mat-step [completed]="isMotoresStepCompleted" [editable]="isMotoresStepCompleted">
        <ng-template matStepLabel>
          <div class="step-label">
            <div class="title">Configuración de motores</div>
            <div class="subtitle">Cada motor puede configurarse de forma independiente.</div>
          </div>
        </ng-template>
      </mat-step>
      
      <mat-step [completed]="isRevisionStepCompleted" [editable]="isMotoresStepCompleted">
        <ng-template matStepLabel>
          <div class="step-label">
            <div class="title">Revisión de la configuración</div>
            <div class="subtitle">Resumen de la configuración ingresada.</div>
          </div>
        </ng-template>
      </mat-step>
      
      <mat-step [editable]="false">
        <ng-template matStepLabel>
          <div class="step-label">
            <div class="title">Asignación de dispositivos</div>
            <div class="subtitle">Se asocia cada dispositivo medidor al elemento correspondiente.</div>
          </div>
        </ng-template>
      </mat-step>
      
      <mat-step label="Configuración completada" [editable]="false"></mat-step>
    </mat-vertical-stepper>

    
    <!-- <a matFab extended routerLink="." class="dark-fab">
      <mat-icon>help</mat-icon>
      ¿Qué es esta configuración?
    </a> -->
  </div>

  <!-- Columna derecha: contenido -->
  <div class="w-3/4">

    <ng-container [ngSwitch]="currentStep">
      <app-auth-step *ngSwitchCase="0"></app-auth-step>
      <app-planta-step *ngSwitchCase="1"></app-planta-step>
      <app-motores-step *ngSwitchCase="2"></app-motores-step>
      <app-revision-step *ngSwitchCase="3"></app-revision-step>
      <!-- pasos 4,5,6 después -->
    </ng-container>

    <div style="margin-top: 24px; display:flex; gap: 12px;">
      <button type="button" (click)="back()" [disabled]="currentStep === 0">
        Volver
      </button>

      <button type="button" (click)="nextClicked()" [disabled]="loadingNext">
        {{ loadingNext ? 'Guardando...' : 'Siguiente' }}
      </button>
    </div>

    <div *ngIf="nextError" style="color:red; margin-top:12px;">
      {{ nextError }}
    </div>

  </div>
</div>