// Animaciones para el slide
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.animate-slide-down {
  animation: slide-down 0.3s ease-in;
}


.sidenav--explanation {
//   h2 {
//     @apply text-white text-xl font-semibold mb-4;
//   }
  
//   p {
//     @apply text-white mb-4;
    
//     &:last-of-type {
//       @apply text-sm opacity-75;
//     }
//   }
}