<h2>{{ mode === 'register' ? 'Crear cuenta' : 'Iniciar sesión' }}</h2>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <div *ngIf="error" style="color:red; margin: 8px 0;">
    {{ error }}
  </div>

  <button mat-button type="button" (click)="toggleMode()">
    {{ mode === 'register' ? 'Ya tengo cuenta' : 'Crear cuenta' }}
  </button>
</form>