<div class="flex min-h-full">
  <div class="flex flex-col justify-between h-screen w-1/5 bg-primary-950 fixed left-0 top-0">
    <div>
      <img src="assets/images/logo-wila.svg" alt="Logo Wila" class="mx-8 mt-8 mb-2 w-40" />
      
      menu
    </div>
    <div class="w-full flex justify-center items-center px-8 pb-6">
      boton fijo
    </div>
  </div>

  <!-- Columna derecha: contenido -->
  <div class="w-4/5 p-8 flex flex-col justify-between min-h-full ml-auto relative">
    <div class="flex-grow flex items-center justify-stretch pb-12">
        columna derecha dashboard
    </div>
  </div>
</div>
