<h2>Definición de la planta</h2>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ubicación</mat-label>
    <input matInput formControlName="ubicacion" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email notificaciones</mat-label>
    <input matInput type="email" formControlName="email_notificaciones" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cantidad de motores</mat-label>
    <input matInput type="number" formControlName="cantidad_motores" />
  </mat-form-field>

  <div *ngIf="error" style="color:red; margin: 8px 0;">
    {{ error }}
  </div>
</form>