@use '@angular/material' as mat;
@use './styles/theme_theme-colors.scss' as theme;

$app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$orange-palette,
      use-system-variables: true,
    ),
    typography: (
      plain-family: "Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif",
      brand-family: "Works, Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif",
    )
  )
);


:root {
  --mat-secondary: var(--color-secondary-500);
  --mat-tertiary: var(--color-accent);
  --mat-on-primary: var(--color-white);
  --mat-on-secondary: var(--color-white);
  --mat-on-tertiary: var(--color-color-disabled-textos);
  --mat-sys-on-surface: var(--color-primary-950);
}

html {
  height: 100%;

  @include mat.all-component-themes($app-theme);
  @include mat.theme-overrides(
    (
      primary: var(--color-primary-950),
      on-primary: var(--color-white),

      secondary: var(--color-secondary-500),
      on-secondary: var(--color-white),

      tertiary: var(--color-accent),
      on-tertiary: var(--color-primary-950),
      
      error: var(--color-error-20),
      on-error: var(--color-white),

      corner-small: 4px,
      corner-medium: 4px,
      corner-large: 4px,

      body-medium-size: 1rem,
      body-large-size: 1.125rem,
      title-medium-size: 1.25rem,
      headline-small-size: 1.5rem,
    )
  );
  @include mat.stepper-overrides(
    (
      container-color: var(--mat-sys-primary),
      line-color: var(--color-accent),
      header-error-state-label-text-color: var(--color-accent),
      header-label-text-color: var(--color-accent),
      header-optional-label-text-color: var(--color-accent),
      header-selected-state-label-text-color: var(--color-white),
      header-icon-background-color: var(--color-accent),
      header-icon-foreground-color: var(--color-primary-950),
      header-selected-state-icon-background-color: var(--color-secondary),
      header-edit-state-icon-background-color: var(--color-secondary),
      header-edit-state-icon-foreground-color: var(--color-white),
      header-done-state-icon-background-color: var(--color-secondary),
      header-done-state-icon-foreground-color: var(--color-white),
    )
  );
  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      filled-disabled-label-text-color: var(--color-disabled-textos),
      filled-disabled-container-color: var(--color-disabled-base),
      outlined-container-shape: 4px,
      outlined-outline-width: 2px,
    )
  );
  @include mat.expansion-overrides(
    (
      container-shape: 4px,
      container-elevation-shadow: none,
      container-background-color: var(--color-white),
      header-collapsed-state-height: 4.2rem,
    )
  );
  @include mat.list-overrides((
    // active-indicator-color: var(--color-primary-950),
    active-indicator-shape: 0px,
    list-item-label-text-color: var(--color-accent),
    list-item-supporting-text-color: var(--color-accent),
  ));
};

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.mat-mdc-text-field-wrapper{
  background: var(--color-white);
}

.mat-step-icon{
  height: 32px!important;
  width: 32px!important;
  
  &-state-edit,
  &-state-done{
    box-shadow: 0 0px 0px 6px rgb(255 103 31 / 20%), 0 0px 0px 6px rgb(255 103 31 / 30%);
  }
  &-selected{
    box-shadow: 0 0px 0px 6px rgb(255 103 31 / 30%), 0 0px 0px 6px rgb(255 103 31 / 40%);
  }
}
.mat-stepper-vertical-line::before{
  top: calc(8px - calc((var(--mat-stepper-header-height, 72px)) / 2))!important;
  bottom: calc(8px - calc((var(--mat-stepper-header-height, 72px)) / 2))!important;
  left: 4px!important;
}
.mat-vertical-stepper-header{
  height: inherit!important;
}
.mat-step-text-label{
  font-size: 14px!important;
  .step-label{
    .title{
      font-size: 16px;
      font-weight: 600;
    }
    .subtitle{
      color: var(--color-accent);
      white-space: normal;
    }
  }
}
.mat-vertical-content:empty{
  display: none;
}

.mat-expansion-panel{
  border: 1px solid var(--color-disabled-base);
}

.mat-mdc-form-field.mat-form-field-appearance-outline .mat-mdc-text-field-wrapper {
  will-change: auto;
  transform: translateZ(0);
  backface-visibility: hidden;
}

// .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input.ng-pristine{
//   color: var(--color-hover-accent);
// }